body {
  font-family: Helvetica;
  font-size: 15px;
}

table.calendar-table {
  overflow: hidden;
  margin-left: 15%;
  border-spacing: 20px;
}

.calendar-day > p {
  background-color: #e76868;
  border-radius: 80%;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 13px;
}

.calendar-day > p:empty {
  background-color: #fff;
}

.cal-box {
	border: 1px solid #ececec;
	width: 100px;
	height: 100px;
	float: left;
	padding: 0 0 0 8px;
}